{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
  
    {% block scriptJS %}
    <script src="{% static 'assets/js/login.js' %}"></script>
    {% endblock %}
  </body>
</html>
