 {% load static %} {% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
</style>
<div class="container-fluid" id="e-details">
    <fieldset class="container-fluid px-2 pb-2 border mb-2">
        <legend class="px-4 w-auto">Usuário</legend>
        <div class="row mx-0">
            <div class="col-4 m-0 border bg-gradient bg-primary fw-bold text-light">Nome</div>
            <div class="col-8 m-0 border">{{ borrow.student.perfil.nome }}</div>
            <div class="col-4 m-0 border bg-gradient bg-primary fw-bold text-light">E-mail</div>
            <div class="col-8 m-0 border">{{ borrow.student.email }}</div>
            <div class="col-4 m-0 border bg-gradient bg-primary fw-bold text-light">Telefone</div>
            <div class="col-8 m-0 border">{{ borrow.student.perfil.telefone }}</div>
        </div>
    </fieldset>
    <fieldset class="container-fluid px-2 pb-2 border mb-2">
        <legend class="px-4 w-auto">Exemplar</legend>
        <div class="row mx-0">
            <div class="col-4 m-0 border bg-gradient bg-primary fw-bold text-light">ISBN</div>
            <div class="col-8 m-0 border">{{ borrow.book.livro.isbn }}</div>
            <div class="col-4 m-0 border bg-gradient bg-primary fw-bold text-light">Identificador</div>
            <div class="col-8 m-0 border">{{ borrow.book.identificador }}</div>
            <div class="col-4 m-0 border bg-gradient bg-primary fw-bold text-light">Título</div>
            <div class="col-8 m-0 border">{{ borrow.book.livro.titulo }}</div>
    </fieldset>
    <fieldset class="container-fluid px-2 pb-2 border mb-2">
        <legend class="px-4 w-auto">Transação</legend>
        <div class="row mx-0">
            <div class="col-4 m-0 border bg-gradient bg-primary fw-bold text-light">Data de Retirada</div>
            <div class="col-8 m-0 border">{{ borrow.borrowing_date|date:"F d, Y" }}</div>
            <div class="col-4 m-0 border bg-gradient bg-primary fw-bold text-light">Data para Devolução</div>
            <div class="col-8 m-0 border">{{ borrow.return_date|date:"F d, Y" }}</div>
                {% if borrow.status == '1' %}
                <span class="badge badge-secondary bg-gradient bg-secondary px-3 rounded-pill bg-opacity-75 text-sm py-1">Pendente</span> {% else %}
                <span class="badge badge-primary bg-gradient bg-primary px-3 rounded-pill bg-opacity-75 text-sm py-1">OK</span> {% endif %}
            </div>
        </div>
    </fieldset>
</div>