{% extends 'core/modelo.html' %}
{% load static %}

{% block titulo %}
    <title>Excluir Registros</title>
{% endblock %}

{% block carrossel %}
{% endblock %}

{% block conteudo %}
<div class="col-sm-6 mx-auto">
    <h3>Cadastro</h3>
    <p class="lead">
        Confirme para excluir.
    </p>

    <hr>

    <form action="" method="POST">

        <p>
            Deseja excluir o registro: <strong>{{ object }}</strong>?
        </p>

        {% csrf_token %} 

        {{ form.as_p }}

        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
</div>
{% endblock %}

