{% extends 'core/modelo.html' %}{% load static %}

{% block titulo %}
    <title>Autores</title>
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
{% endblock %}


{% block carrossel %}{% endblock %}

{% block barra %}
<form action="?" method="GET">

    <input type="text" name="seach" id="" value="{{ request.GET.seach }}" class="p-1 border" autocomplete="off" placeholder="Nome do(a) autor(a)">

    <button type="submit" class="btn btn-success">Buscar</button>

    <a href="{% url 'autores' %}" class="btn btn-light">Limpar</a>

</form>
{% endblock %}

{% block conteudo %}
        <div class="card bg-dark text-light text-center m-auto col-11" style="padding: 20px;">
            <h2 align="center">Autores</h2>
            <p1>
                Informe-se sobre seus autores favoritos, ou mesmo, aqueles que tenha curiosidade de conhecer.
            </p1>
        </div>

<!--Slide-->
<div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
         {% for a in autor_random %}
          <div class="item">
            <img src="{{a.rosto.url}}" alt="Jane" style="border-radius: 5px;position: relative;height: 50%;width:50%;left: 5%;top: 5px;">
            <div class="item-content">
              <div class="main-content">
                <a href=""><h4>{{a.nome}}</h4></a>
                <ul class="post-info">
                  <li><a href="#">{{a.data_nascimento}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
<!--Slide-->

<div class="col-md-10 mx-auto"> 
    <br>
    <br>
    <br>
    <h1>Lista de Autores</h1>
    <hr>
    <div class="table-responsive col-md-10 mx-auto">
        <table class="table table-striped" id="tabela-listar">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>

        <tbody>
            {% for autor in object_list %}
            <tr>
                <td>
                    <a href="{% url 'info-autor' autor.pk %}">
                    <div style="height:100%; width:100%">{{ autor.nome }}</div>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3"> Nenhum registro identificado!</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <ul class="pagination justify-content-center">
    
        {% if page_obj.has_previous %}

            {% if request.GET.nome %}
                <li class="page-item"><a class="page-link" href="?page=1&nome={{request.GET.nome}}">&laquo; Primeira</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{request.GET.nome}}">Anterior</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %}
        {% endif %}
    
        <li class="page-item">
            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></li>
    
        {% if page_obj.has_next %}
            {% if request.GET.nome %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{request.GET.nome}}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{request.GET.nome}}">Última &raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>



{% endblock %}

{% block carrosselCatalogo %}
{% endblock %}

{% block style %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 8px;
        }

        .about-section {
            padding: 50px;
            text-align: center;
            background-color: #474e5d;
            color: white;
        }

        .container {
            padding: 0 16px;
        }

        .container::after,
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

        .button:hover {
            background-color: #555;
        }

        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }
    </style>

{% endblock %}
{% block scriptJS %} 
    <script src="{% static 'assets/js/owl.js' %}"></script>
{% endblock %}