{% extends 'core/modelo.html' %}

{% load static %}

{% block titulo %}
    <title>Equipe</title>
{% endblock %}

{% block carrossel %}
{% endblock %}

{% block barra %}
{% endblock %}

{% block conteudo %}
        <div class="card bg-dark text-light text-center m-auto col-11" style="padding: 20px;">
            <h2 align="center">Quem somos?</h2>
            <br>
            <p1>
                O projeto LibraryCeos foi elaborado e desenvolvido por uma equipe altamente qualificada,
                especializada, e por último e não menos importante, amante da boa leitura.
            </p1>
            <p1>A equipe é composta por Lucas Calado e Wesley Henrique, graduandos do curso de Análise e Desenvolvimento de Sistemas da Fatec de Indaiatuba/SP.
            </p1>
        </div>
    <br>
    <h2 style="text-align:center">Nosso Time</h2>
    <div class="row">
        <div class="column">
            <div class="card bg-dark text-light text-sm-center">
                <img src="{% static 'assets/img/personaWesley.bmp' %}" alt="Jane" style="border-radius: 15px;position: center;height: 30%;width:30%;left: 5%;top: 15px;">
                <div class="container">
                    <br>
                    <h2 style="font-size:x-large;">Wesley Henrique</h2>
                    <p class="title">Analista de Sistemas</p>
                    <p>wesley.henrique@libraryceos.com</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card bg-dark text-light text-sm-center">
                <img src="{% static 'assets/img/personaLucas.bmp' %}" alt="Jane" style="border-radius: 15px;position: center;height: 30%;width:30%;left: 5%;top: 15px;">
                <div class="container">
                    <br>
                    <h2 style="font-size: x-large;">Lucas Calado</h2>
                    <p class="title">Analista de Sistemas</p>
                    <p>lucas.dias@libraryceos.com</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block carrosselCatalogo %}
{% endblock %}

{% block style %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        .column {
            width: 33%;
            margin: auto;
            border: 3px solid orange;
            padding: 0 8px;
        }

        .card{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .about-section {
            padding: 50px;
            text-align: center;
            background-color: #474e5d;
            color: white;
        }

        .container {
            padding: 0 16px;
        }

        .container::after,
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

        .button:hover {
            background-color: #555;
        }

        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }
    </style>

{% endblock %}