{% extends 'core/modelo.html' %}
{% load static %}

{% block titulo %}
    <title>Ajuda</title>
{% endblock %}

{% block carrossel %}{% endblock %}

{% block barra %}{% endblock %}

{% block conteudo %}
    <div class="card text-light bg-dark text-justify m-auto col-11" style="padding: 20px;align-items: center;">
        <h2>
            Entre em contato e conheça o projeto: 
        </h2>
        <p>
            Entre em contato por meio do nosso formulário, possuímos uma equipe especialista 
            que irá atender e sanar dúvidas da melhor forma possível. E reforçando, assim como vocês, somos todos amantes da boa e velha leitura. 
        </p>
        <img src="{% static 'assets/img/googleFormsICon.png' %}" alt="" style="width: 10%;">
        <br>
        <a style="font-size:x-large;width:100%;background-color: #2374e1;border-color: #2374e1;color: white;" href="https://forms.gle/1y8Ews1Mo9mPAmTK9" class="btn btn-light">INICIAR</a>
    </div>
{% endblock %}

{% block addcss %}
    <style>
        html {
            box-sizing: border-box;
        }
        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }
        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0px;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 0px;
        }
        .about-section {
            padding: 50px;
            text-align: center;
            background-color: #474e5d;
            color: white;
        }
        .container {
            padding: 0 16px;
        }
        .container::after,
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        .title {
            color: grey;
        }
        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }
        .button:hover {
            background-color: #555;
        }
        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }
    </style>
{% endblock %}