{% load static %}{% load humanize %}{% load customfilter %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta chasert="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">-->
    {% block titulo %}
    <title>Modelo</title>
    {% endblock %}

    {% block test1 %}
    <link rel="icon" href="{% static 'assets/img/logo-lc.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-	1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css" />

    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'assets/css/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">
    {% endblock %}

    <link href="{% static 'assets/css/footer-with-button-logo.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">

    {% block chatCSS %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'assets/css/chatBot.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock %}
  
    {% block linkCSS %}
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/carousel.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/timeline.css' %}" rel="stylesheet" type="text/css"/>
    {% endblock %}

    {% block styleFundo %}
    <style>
      .modal-sub-footer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: calc(0.3rem - 1px);
        border-bottom-left-radius: calc(0.3rem - 1px);
      }

      #viewer_modal #img-viewer {
        position: relative;
      }

      #viewer_modal #img-viewer img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        object-position: center center;
        transition: all 0.2s ease-in-out;
      }
      body {
        background-image: linear-gradient(rgba(255,255,255,0.97), rgba(255,255,255,0.97)),  url("{% static 'assets/img/fundo.jpg' %}");
        background-size: cover;
        background-repeat: repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        min-height: 100%;
      }

      footer {
      margin-top: auto;
      }
    </style>
    {% endblock %}
    {% block headerConteudo %}{% endblock %}
  </head>

  <body>
    {% block preloader %}
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    {% endblock %}

    {% block menu %}
    <nav
      class="navbar col-12 navbar-expand-lg navbar-dark bg-dark"
      style="top: 0%; z-index: 999"
    >
      <div class="container-fluid col-11 m-auto">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre' %}">Sobre nós</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'parceria' %}">Parcerias</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'autores' %}">Catálogo de Autores</a>
            </li>

          {% if request.user.is_authenticated %}
            {% if request.user|is_group:"Leitores" %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'borrow-page' %}">Empréstimos</a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Registros</a
              >
              <ul
                class="dropdown-menu bg-dark dropdown-menu-dark"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'listar-autores' %}"
                    >Autores</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'listar-categorias' %}"
                    >Categorias</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'listar-livros' %}"
                    >Livros</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Interno</a
              >
              <ul
                class="dropdown-menu bg-dark dropdown-menu-dark"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'listar-exemplares' %}"
                    >Exemplares</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'listar-emprestimos' %}"
                    >Empréstimos</a
                  >
                </li>
              </ul>
            </li>
            {% endif %}
          {% endif %}

          </ul>
          {% block barra %}{% endblock %} 
          {% if request.user.is_authenticated %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="" aria-hidden="true"></i>
                <span id="username">{{ request.user }}</span>
              </a>
              <div
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
              {% if request.user|is_group:"Leitores" %}
                <a class="dropdown-item" href="{% url 'atualizarDados' %}">
                  <i class="fa fa-user" aria-hidden="true"></i> Meus dados</a
                >
                <a class="dropdown-item" href="{% url 'alterar-senha' %}">
                  <i class="fa fa-key" aria-hidden="true"></i> Alterar Senha</a
                >
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fa fa-sign-out" aria-hidden="true"></i>Sair</a
                >
              </div>
            </li>
            {% else %}
            <li style="display: link" class="nav-item">
              <a class="text-white" href="{% url 'login' %}">
                <i class="fa fa-sign-in" aria-hidden="true"></i>Login</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% endblock %}
    <!-- Fim do bloco menu (NavBar)-->

    {% block carrossel %}
    <div class="bd-example" style="width: 100%">
      <div
        id="carouselExampleCaptions"
        class="carousel slide multi-item-carousel"
        data-ride="carousel"
        style="width: 100%; height: 100%"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleCaptions"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="item__third">
              <img
                src="{% static 'assets/img/cenario01.png' %}"
                class="d-block w-100"
                alt=""
              />
              <div
                style="position: absolute; top: 50%"
                class="carousel-caption d-none d-md-block"
              >
                <p
                  style="
                    font-weight: 600;
                    font-style: oblique;
                    color: black;
                    background-color: white;
                    opacity: 50%;
                  "
                >
                  Ler é ganhar asas para o mundo!
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="item__third">
              <img
                src="{% static 'assets/img/cenario02.png' %}"
                class="d-block w-100"
                alt=""
              />
              <div
                style="position: absolute; top: 50%"
                class="carousel-caption d-none d-md-block"
              >
                <p
                  style="
                    font-weight: 600;
                    font-style: oblique;
                    color: black;
                    background-color: white;
                    opacity: 50%;
                  "
                >
                  Todo mundo tem um leitor dentro de si. Alguns apenas ainda não
                  encontraram seu livro preferido!
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="item__third">
              <img
                src="{% static 'assets/img/cenario03.png' %}"
                class="d-block w-100"
                alt=""
              />
              <div
                style="position: absolute; top: 50%"
                class="carousel-caption d-none d-md-block"
              >
                <p
                  style="
                    font-weight: 600;
                    font-style: oblique;
                    color: black;
                    background-color: white;
                    opacity: 50%;
                  "
                >
                  Quando não puder sair de casa, viaje lendo um livro!
                </p>
              </div>
            </div>
          </div>
        </div>

        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>
    {% endblock %}
    <!-- Fim do bloco carrossel -->

    <br />

    {% block conteudo %} {% endblock %}
    <!-- bloco para inserir conteúdo -->

    {% block ScriptBlock %} {% endblock ScriptBlock %} 
    <div class="modal fade" id="uni_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-sm btn-flat btn-primary rounded-0" id='submit' onclick="$('#uni_modal form').submit()">Salvar</button>
                    <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal">Cancelar</button>
                </div>
                <div class="modal-sub-footer">
                    <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal">Sair</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title">Aviso!</h5>
                </div>
                <div class="modal-body">
                    <div id="delete_content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-flat btn-primary rounded-0" id='confirm' onclick="">Confirmar</button>
                    <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="viewer_modal" role='dialog'>
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content rounded-0 bg-transparent">
                <div class="modal-body bg-transparent d-flex flex-column w-100 h-100 align-items-center justify-content-center">
                    <div class="text-end w-100 px-5">
                        <a class="text-decoration-none text-light" href="javascript:void(0)" data-bs-dismiss="modal"><i class="fa fa-times fs-3"></i></a>
                    </div>
                    <div id="img-viewer" class="w-75 h-75 bg-dark overflow-auto">
                        <img src="" class="image-thumbnail" id="img-viewer-field" />
                    </div>
                    <div class="w-25 d-flex justify-content-center pt-3">
                        <div class="input-group mb-3">
                            <button class="btn btn-dark bg-gradient btn-sm text-light" type="button" id="zoom-minus"><i class="fa fa-minus"></i></button>
                            <input type="text" id="zoom-value" class="form-control form-control-sm rounded-0 w-25 bg-dark bg-gradient border-dark text-light text-center" value="100" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" readonly>
                            <button class="btn btn-dark bg-gradient btn-sm text-light" type="button" id="zoom-plus"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block chat %}
    {% endblock %}

    {% block rodape %}
    <br />
    <footer id="myFooter" class="bg-dark text-light">
      <div class="container bg-dark text-light">
        <div class="row">
          <div class="col-sm-3">
            <h2 class="logo" style="position: relative; top: 40%">
              <img
                src="{% static 'assets/img/libraryceos-noback.png' %}"
                class="d-block col-12 m-auto"
                style="max-width: 100%; width: 90%"
                alt=""
              /><a href="Inserir link"> </a>
            </h2>
          </div>
          <div class="col-sm-2">
            <h5>Geral</h5>
            <ul>
              <li><a href="{% url 'home' %}">Inicio</a></li>
              <li><a href="{% url 'parceria' %}">Parcerias</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h5>Projeto</h5>
            <ul>
              <li><a href="{% url 'sobre' %}">Sobre nós</a></li>
              <li><a href="{% url 'desenvolvedor' %}">Equipe</a></li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h5>Feedback</h5>
            <ul>
              {% if request.user|is_group:"Bibliotecas" %}
              <li>
                <a href="{% url 'satisfacaoBibli' %}">Pesquisa de satisfação</a>
              </li>
              {% else %}
              <li>
                <a href="{% url 'satisfacaoUser' %}">Pesquisa de satisfação</a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div class="col-sm-3">
            <div class="social-networks">
              <a
                href="https://www.facebook.com/conectandoEduTeca?mibextid=ZbWKwL"
                class="facebook"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="https://instagram.com/library_ceos?igshid=YmMyMTA2M2Y="
                class="instagram"
                ><i class="fa fa-instagram"></i
              ></a>
            </div>
            <a href="https://forms.gle/XtaNgWKRBhEtgAaR8">
              <button type="button" class="btn btn-default">Contato</button>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-copyright" style="background-color: chocolate">
        <p style="color: black">Copyright © 2022 - LibraryCeos</p>
      </div>
    </footer>
    {% endblock %}
    <!-- Fim do bloco rodapé -->

    {% block style %}
    <!-- Bloco com alguns estilos css -->
    <style>
      body {
        background-color: white;
      }

      .container-cards {
        width: 100%;
        padding-top: 2rem;
        color: white;
      }

      .container-cards-scroll {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 1rem;
      }

      .container-cards-item {
        display: inline-block;
        transition: all 0.2 ease-in-out;
        max-height: 21rem;
        max-width: 13rem;
      }

      .container-cards-item:hover {
        transform: scale(1.2);
        border-color: black;
        border-style: solid;
        border-width: 2px;
      }

      .zoom-bt:hover {
        transform: scale(1.2);
        border-color: black;
        border-style: solid;
        border-width: 2px;
        background-color: Blue;
      }

      .container-cards-item img {
        height: 100%;
        width: 100%;
      }

      .dropdown-menu li {
        position: relative;
      }

      .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
      }

      .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
      }

      .dropdown-menu > li:hover > .dropdown-submenu {
        display: block;
        background-color: grey;
        color: black;
      }

      .dropdown-item > li:hover > .dropdown-submenu {
        display: block;
        background-color: grey;
        color: black;
      }

      .dropdown-menu li {
        position: relative;
      }

      .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
      }

      .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
      }

      .estilo-hover:hover {
        background-color: grey;
      }

      .text-justify {
        text-align: justify;

      }
    </style>
    {% endblock %}
    <!-- Fim do bloco Styles -->

    {% block addcss %}{% endblock %}
    <!-- bloco para inserir mais estilos css -->
    

    {% block test %}
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/datatables.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
	  <script src="{% static 'assets/js/select2.min.js' %}"></script>
    {% endblock %}

    <script src="{% static 'assets/js/custom.js' %}"></script>
    {% block scriptJS %}
    <script src="{% static 'assets/js/carousel.js' %}"></script>
    {% endblock %}
    <!-- Block destinado a inclusao de scripts -->

    <script>
        const loader = $('<div>')
        loader.attr('id', 'pre-loader')
        loader.html('<div class="lds-facebook"><div></div><div></div><div></div></div>')

        window.start_loader = function() {
            $('body').removeClass('loading')
            if ($('#pre-loader').length > 0)
                $('#pre-loader').remove();
            $('body').append(loader)
            $('body').addClass('loading')
        }
        window.end_loader = function() {
            if ($('#pre-loader').length > 0)
                $('#pre-loader').remove();
            $('body').removeClass('loading')
        }
        window.uni_modal = function($title = '', $url = '', $size = "") {
            start_loader()
            $.ajax({
                url: $url,
                error: err => {
                    console.log()
                    alert("An error occured")
                },
                success: function(resp) {
                    if (resp) {
                        $('#uni_modal .modal-title').html($title)
                        $('#uni_modal .modal-body').html(resp)
                        if ($size != '') {
                            $('#uni_modal .modal-dialog').addClass($size + '  modal-dialog-centered')
                        } else {
                            $('#uni_modal .modal-dialog').removeAttr("class").addClass("modal-dialog modal-md modal-dialog-centered")
                        }
                        $('#uni_modal').modal({
                            backdrop: 'static',
                            keyboard: false,
                            focus: true
                        })
                        $('#uni_modal').modal('show')
                        end_loader()
                    }
                }
            })
        }
        window._conf = function($msg = '', $func = '', $params = []) {
            $('#confirm_modal #confirm').attr('onclick', $func + "(" + $params.join(',') + ")")
            $('#confirm_modal .modal-body').html($msg)
            $('#confirm_modal').modal('show')
        }

        $(function() {
            $('#viewer_modal').on('shown.modal.bs', function() {
                $('#zoom-value').val(100)
                $('#img-viewer img').css(
                    'transform',
                    'scale(1)'
                )

            })
            $('#zoom-plus').click(function() {
                var scale = parseFloat($('#zoom-value').val())
                if (scale >= 200) return false;
                scale += 10
                $('#zoom-value').val(scale)
                scale = scale / 100
                $('#img-viewer img').css(
                    'transform',
                    'scale(' + (scale) + ')'
                )
            })
            $('#zoom-minus').click(function() {
                var scale = parseFloat($('#zoom-value').val())
                if (scale <= 0) return false;
                scale -= 10
                $('#zoom-value').val(scale)
                scale = scale / 100
                $('#img-viewer img').css(
                    'transform',
                    'scale(' + (scale) + ')'
                )
            })

        })
    </script>
    {% block chatJS %}

<script src="{% static 'assets/js/index.js' %}"></script>

<script type="257be86a981729866f2fa61c-text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83834093-1', 'auto');
    ga('send', 'pageview');

  </script>

 <script>
        $(document).ready(function(){
            $(".select2_el").select2({
            });
        });
        </script>
<script>
    $(document).ready(function () {
        //Toggle fullscreen
        $(".chat-bot-icon").click(function (e) {
            $(this).children('img').toggleClass('hide');
            $(this).children('svg').toggleClass('animate');
            $('.chat-screen').toggleClass('show-chat');
        });
        $('.chat-mail button').click(function () {
            $('.chat-mail').addClass('hide');
            $('.chat-body').removeClass('hide');
            $('.chat-input').removeClass('hide');
            $('.chat-header-option').removeClass('hide');
        });
        $('.end-chat').click(function () {
            $('.chat-body').addClass('hide');
            $('.chat-input').addClass('hide');
            $('.chat-session-end').removeClass('hide');
            $('.chat-header-option').addClass('hide');
        });
    });
</script>
{% endblock %}

  </body>
</html>
