{% extends 'core/modelo.html' %}
{% load static %}

{% block titulo %}
    <title>Acervo</title>
{% endblock %}

{% block barra %}
<form action="?" method="GET">

    <input type="text" name="" id="" value="" class="p-1 border" autocomplete="off" placeholder="">

    <button type="submit" class="btn btn-success">Buscar</button>

</form>
{% endblock %}

{% block carrossel %}
{% endblock %}

{% block conteudo %}
<div class="col-md-10 mx-auto"> 
    <br>
    <h3>Registro - Acervo</h3>
    <a href="{% url 'cadastrar-acervo' %}" class="btn btn-primary btn-sm">Adicionar</a>
    <hr>
    <div class="table-responsive col-md-10 mx-auto">
        <table class="table table-striped">
            <tr>
                <th>Livro</th>
                <th>Qtde.</th>
                <th>Usuário</th>
                <th>Opções</th>
            </tr>

            {% for acervo in object_list %}
            <tr>
                <td>{{ acervo.livro.titulo }}</td> 
                <td>{{ acervo.qtdeExemplar }}</td>
                <td>{{ acervo.usuario.username }}</td>
                <td>
                    <a href="{% url 'atualizar-acervo' acervo.pk %}" class="btn btn-warning btn-sm" title="Atualizar"><i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'excluir-acervo' acervo.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3"> Nenhum registro identificado!</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    <ul class="pagination justify-content-center">
    
        {% if page_obj.has_previous %}

            {% if request.GET.nome %}
                <li class="page-item"><a class="page-link" href="?page=1&nome={{request.GET.nome}}">&laquo; Primeira</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome={{request.GET.nome}}">Anterior</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %}
        {% endif %}
    
        <li class="page-item">
            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></li>
    
        {% if page_obj.has_next %}
            {% if request.GET.nome %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&nome={{request.GET.nome}}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome={{request.GET.nome}}">Última &raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block carrosselCatalogo %}
{% endblock %}

