{% extends "core/modelo.html" %}
{% load i18n %}

{% block titulo %}
<title>Login - Google</title>
{% endblock %}

{% block carrossel %}
{% endblock %}

{% block linkCSS %}
<script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
{% endblock %}

{% block head_title %}{% trans "Login com conta Google" %}{% endblock %}

{% block conteudo %}
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<br></br>
<br></br>
<br></br>
<h1>{% blocktrans with provider.name as provider %}Login via {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}Atenção! Você está prestes a fazer login usando uma conta de terceiros do {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button type="submit">{% trans "Continuar" %}</button>
</form>
{% endblock %}
